            html {
                scroll-behavior: smooth;
            }
            /* LANDING PAGE */
            
            .landing {
                background-image: url('../images/assets/backgrounds/h_img.jpg');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
                text-align: center;
                padding-top: 17%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            
            .landing h1 {
                padding: 2px;
                margin: 5px;
            }
            
            .landing p {
                padding: 2px;
            }
            
            #logo {
                margin-top: 12px;
                margin-bottom: 24px;
                width: 70px;
                height: 70px;
                ;
            }
            
            #mouse-click {
                padding-top: 22px;
                margin-top: 10%;
                padding-bottom: 30px;
            }
            /* ABOUT SECTION */
            
            .about {
                text-align: center;
                padding-bottom: 30px;
                padding-top: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            
            #about {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            
            .services {
                text-align: center;
                background-image: url("../images/assets/backgrounds/s_image.jpg");
                color: white;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-size: 18px;
            }
            
            .services h2 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            
            #services1 {
                background-color: rgba(0, 0, 0, 0.4);
                padding-top: 10%;
                padding-bottom: 10%;
            }